@tailwind base;
@tailwind components;
@tailwind utilities;

.mosha__toast {
    padding: 12px 8px 20px 20px;
    min-height: fit-content;
}

.mosha__toast__progress {
    margin-left: -20px;
}

.navbar > .active {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}